.hero {
    padding: 8px 150px 150px 150px;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.content {
    display: flex;
    justify-content: space-between;
    max-height: 300px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    
}

.media {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
    justify-content: center;
    margin-bottom: 86px;
    
}
.section-three {
    background-color: #E5E7EB;
    padding: 80px 150px 80px 150px;
    display: flex;
    justify-content: center;
}

.section-four {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    display: flex;
    flex-direction: column;
    max-width: 850px;
    
}

.author {
    justify-self: flex-end;
    margin-right: 50px;
}

.call-to-action {
    
    display: flex;
    padding: 30px 100px;
    background-color: #3882F6;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 800px;
    justify-content: space-between;

}

.call-to-action .text {
    display: flex;
    flex-direction: column;
}

.call-to-action .main-text {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: -15px;
}

.call-to-action .sub-text {
    font-size: 16px;
}

.call-to-action button {
    border-style: solid;
    border-color: white;
    align-self: center;
    flex-grow: 0;
    flex-shrink: 0;
}
.quote p {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote .author {
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    align-self: flex-end;
}

.media .image {
    flex-direction: column;
    text-align: center;
    padding: 10px;
    flex: 1;
    max-width: 250px;
    color: #585a5e;
    
    
    
    
}

.image img {
    width: 150px;
    height: 150px;
    border: #3882F6;
    border-radius: 10px;
    border-style: solid;
}

.text p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #E5E7EB;
    
}

.header li {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #E5E7EB;
    

}

.header .logo {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

.section-two .content p {
    margin: 0 auto;
    width: 150px;
}

body {
    margin: 0;
}

h1 {
    font-size: 48px;
    font-weight: 910;
    color: #F9FAF8;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

h3 {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 36px;
    font-weight: 1000;
    color: #1F2937;
    margin-top: 50px;
    margin-bottom: 50px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

img {
    width: 50%;

}

button {
    font-family: "Roboto", sans-serif;
    align-self: flex-start;
    background-color: #3882F6;
    color: white;
    text-align: center;
    padding: 8px 40px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;

}